
.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}


.mainConatiner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #663399; */
  width: 80%;
  margin: auto;
  height: 100%;
}
.imgcontainer{
  width: 60%;
  height: 80%;
  border-radius: 30px ;
  margin: 30px;
  
}
.heroImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  margin: 20px;
  border-radius: 30px ;
}
.mainTextBox{
  margin: 20px;
  margin-top: 70px;
  display: grid;
  align-items: center;
}
.MyBtn{
  width: 150px;
  padding: 20px 30px;
  text-align: center;
  color: aliceblue;
  background-color: #004ca3;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
}

.MyBtn:hover{
  width: 150px;
  padding: 20px 30px;
  text-align: center;
  color: #fff;
  background-color: rgb(2, 49, 81);
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
}
.Title{
  font-size: 40px;
  font-weight: 500;
}



@media (max-width:900px) {

  .mainConatiner{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* background-color: #663399; */
    width: 100%;
    margin: auto;
    height: 100%;
  }

}